<div class="card" v-show="first_load_done" id="phase_1_card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Phase 2: You are the manager.</span>       
            
        <span class="float-end">
            
        </span>
        
    </div>
    <div class="card-body"> 
        <!-- units table -->
        <div class="row justify-content-center" >
            <div class="col-auto">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "">
                               
                            </th>
                            <th scope="col" class = "">
                                My Units
                            </th>
                            <th scope="col" class = "">
                                Counterpart Units
                            </th>                            
                                                     
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td class="fw-bold" >
                               Type A Units Remaining
                            </td>
                            <td class="text-center">
                               [[get_my_type_a_units()]]
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_a_units()]]
                            </td>                                               
                        </tr>
                        <tr>
                            <td class="fw-bold" >
                               Type B Units
                            </td>
                            <td class="text-center">
                                [[get_my_type_b_units()]]
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_b_units()]]
                            </td>                                               
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>

        <!-- offer form -->
        <div v-show="get_type_a_bid() == null">
            <div class="row justify-content-center fw-bold mt-4">
                <div class="col-auto text-center" id="div_id_type_a_bid">
                    Submit your purchase offer($) to your counterpart for their remaining type A and type B units.
                </div>
            </div>
            <div class="row justify-content-center fw-bold mt-2">
                <div class="col-auto text-start" id="div_id_type_a_bid">
                    <input type="number" 
                        class="transfer_model_input form-control-lg fw-bold"
                        v-model="manager_offer_to_worker"
                        min="0"
                        max="999"
                        step="1"
                        id="manager_offer_to_worker">     
                </div>
            </div>
            
            <!-- button -->
            <div class="row justify-content-center fw-bold mt-2">
                <div class="col-auto text-start">
                    <button type="button"
                            class="btn btn-outline-primary"
                            v-on:click = "submit_manager_offer_to_worker()"
                            title="Submit your offer."                       
                            v-bind:disabled="reconnecting || 
                                                working || 
                                                (session.world_state.current_experiment_phase == 'Instructions' && 
                                                session_player.current_instruction != instructions.action_page_attacks)">

                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>

            <!-- error message -->
            <div class="row justify-content-center fw-bold mt-2">
                <div class="col-auto text-start">
                    <div class="text-danger" role="alert" v-if="manager_offer_to_worker_error">
                        [[manager_offer_to_worker_error]]
                    </div>
                </div>
            </div>
        </div>
        <div v-show="get_manager_offer_to_worker() != null">
            <div class="row justify-content-center fw-bold mt-4">
                <div class="col-auto text-center" id="div_id_manager_offer_to_worker">
                   Waiting for counterpart.
                </div>
            </div>  
        </div>
    </div>                    
</div> 