<div class="card" v-show="first_load_done" id="phase_1_card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Phase 1: Bid to become the manager.</span>       
            
        <span class="float-end">
            <button type="button" 
                    class="btn btn-link" 
                    title="Show Help" 
                    v-on:click="send_load_help_doc_subject('phase_1')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
        
    </div>
    <div class="card-body"> 
        <!-- units table -->
        <!-- <div class="row justify-content-center fs-5" >
            <div class="col-auto">
                <table class="table table-condensed mb-0 pb-0"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "">
                               
                            </th>
                            <th scope="col" class = "text-center">
                                My<br>Units
                            </th>
                            <th scope="col" class = "text-center">
                                Counterpart's<br>Units
                            </th>                            
                                                     
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td class="fw-bold" >
                               Type A
                            </td>
                            <td class="text-center">
                               [[get_my_type_a_units()]]
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_a_units()]]
                            </td>                                               
                        </tr>
                        <tr>
                            <td class="fw-bold" >
                               Type B 
                            </td>
                            <td class="text-center">
                                [[get_my_type_b_units()]]
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_b_units()]]
                            </td>                                               
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div> -->

        <!-- <div class="row justify-content-center mt-0 pt-0 fs-6" >
            <div class="col-auto text-center"> 
                One A and one B unit can be combined into an AB  or used separately.<br>
                The system automatically calculates the best combination.
            </div>
        </div> -->

        <!-- units values -->
        {%include "subject/subject_home/snippets/unit_values.html"%}

        <!-- potential profits alone-->
        {%include "subject/subject_home/snippets/work_alone.html"%}

        <div class="row justify-content-center mt-1" >
            <div class="col-auto text-center fs-2">
                OR
            </div>
        </div>

        <!-- potential profits together -->
        {%include "subject/subject_home/snippets/work_together.html"%}

        <!-- bid form -->
        <div v-show="get_type_a_bid() == null">
            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    <div class="row justify-content-center fw-bold">
                        <div class="col-auto text-center fs-5" id="div_id_type_a_bid">
                            Type A Units you want to spend to compete for the manager role
                        </div>
                    </div>                   
                </div>

                <div class="col-6">
                    <div class="row justify-content-center fw-bold">
                        <div class="col-auto text-center fs-5" id="div_id_type_a_bid">
                            Type A Units you <i>think</i> your counterpart will spend to compete for the manager role
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-0">
                <div class="col-auto">
                    
                    <div class="row justify-content-center fw-bold mt-2">
                        <div class="col-auto text-start" id="div_id_type_a_bid">
                            <input type="number" 
                                class="transfer_model_input form-control-lg fw-bold"
                                v-model="type_a_bid"
                                min="0"
                                v-bind:max="get_my_type_a_bid_max()"
                                step="1"
                                v-bind:disabled="is_phase_1_input_disabled()"
                                v-on:input="update_graphs()"
                                style="color:gray"
                                id="type_a_bid">     
                        </div>
                    </div>
                    
                </div>
                <div class="col-auto text-center">
                    <span class="fs-4"> [[get_manager_probability()]]</span><br>
                    My likelihood of winning the manager role<br>
                    My Bid / (My Bid + Counterpart's Bid)
                </div>
                <div class="col-auto">
                    <div class="row justify-content-center fw-bold mt-2">
                        <div class="col-auto text-start" id="div_id_type_a_bid">
                            <input type="number" 
                                class="transfer_model_input form-control-lg fw-bold"
                                v-model="type_a_bid_counterpart"
                                min="0"
                                v-bind:max="get_counterpart_type_a_bid_max()"
                                step="1"
                                v-bind:disabled="is_phase_1_input_disabled()"
                                v-on:input="update_graphs()"
                                style="color:gray"
                                id="type_a_bid_counterpart">     
                        </div>
                    </div>
                </div>
            </div>

            <!-- button -->
            <div class="row justify-content-center fw-bold mt-4">
                <div class="col-auto text-start">
                    <button type="button"
                            v-bind:class="tick_tock=='tick' ? 'btn btn-primary btn-lg' : 'btn btn btn-outline-primary btn-lg'"
                            v-on:click = "submit_type_a_bid()"
                            title="Submit your bid."                       
                            v-bind:disabled="reconnecting || working">
                                            

                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
                
            <!-- error message -->
            <div class="row justify-content-center fw-bold mt-2">
                <div class="col-auto text-start">
                    <div class="text-danger" role="alert" v-if="type_a_bid_error">
                        [[type_a_bid_error]]
                    </div>
                </div>
            </div>
        </div>
        <div v-show="get_type_a_bid() != null">
            <div class="row justify-content-center fw-bold mt-4 fs-5">
                <div class="col-auto text-center" id="div_id_type_a_bid">
                   Waiting for counterpart.
                </div>
            </div>  
        </div>
    </div>                    
</div> 