<div class="card" v-show="first_load_done" id="phase_2_worker_card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Phase 2: You are the non-manager.</span>       
            
        <span class="float-end">
            
        </span>
        
    </div>
    <div class="card-body"> 
        <!-- units table -->
        <div class="row justify-content-center fs-5" >
            <div class="col-auto">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "">
                               
                            </th>
                            <th scope="col" class = "text-center">
                                My<br>Units
                            </th>
                            <th scope="col" class = "text-center">
                                Counterpart's<br>Units
                            </th>                            
                                                     
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td class="fw-bold" >
                               Type A (Spent in phase 1)
                            </td>
                            <td class="text-center">
                               [[get_my_type_a_units()]] ([[get_my_type_a_units_spent_in_phase_1()]])
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_a_units()]] ([[get_counterpart_type_a_units_spent_in_phase_1()]])
                            </td>                                               
                        </tr>
                        <tr>
                            <td class="fw-bold" >
                               Type B 
                            </td>
                            <td class="text-center">
                                [[get_my_type_b_units()]] 
                            </td>
                            <td class="text-center">
                                [[get_counterpart_type_b_units()]]
                            </td>                                               
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>

        <!-- units values -->
        <div class="row justify-content-center mt-2 fs-5" >
            <div class="col-4 text-center">
                One Type A alone is worth 
                <div class="row justify-content-center" >
                    <div class="col-6 text-center border rounded fs-4 pt-2 pb-2">
                        $0.00
                    </div>
                </div>
            </div>

            <div class="col-4 text-center">
                One Type B alone is worth 
                <div class="row justify-content-center" >
                    <div class="col-6 text-center border rounded fs-4 pt-2 pb-2">
                        $[[get_current_parameter_set_period().outside_option_payout]]
                    </div>
                </div>
            </div>

            <div class="col-4 text-center">
                One Type AB is worth 
                <div class="row justify-content-center" >
                    <div class="col-6 text-center border rounded fs-4 pt-2 pb-2">
                        $[[get_current_parameter_set_period().work_payout]]
                    </div>
                </div>
            </div>
        </div>

        <!-- potential profits alone-->
        <div class="row justify-content-center mt-4 fs-5" >
            <div class="col-6 text-center">
                My potential profit if I work alone
                <div class="row justify-content-center" >
                     <div class="col-11 text-center border rounded">
                         <span v-html="get_total_player_value_string(get_player_number())"></span>
                     </div>
                </div>
            </div>
            <div class="col-6 text-center">
                Counterpart's potential profit if they work alone
                <div class="row justify-content-center" >
                     <div class="col-11 text-center border rounded">
                         <span v-html="get_total_player_value_string(get_player_number() == 1 ? 2 : 1)"></span>
                     </div>
                </div>
            </div>
        </div>

        <!-- potential profits together -->
        <div class="row justify-content-center mt-4" >
            <div class="col-auto text-center fs-5">
                Total potential profit for the group if we pool units and work together
                <div class="row justify-content-center" >
                     <div class="col-10 text-center border rounded">
                        <span v-html="get_total_value_value_string()"></span>
                     </div>
                </div>
                <div class="row justify-content-center" >
                     <div class="col-auto text-center fs-6">
                        (The manager proposes how to split, you decide to work together or separately)
                     </div>
                </div>                
            </div>
        </div>

        <div v-if="get_current_group().phase == 'Phase 2'">
            <div class="row justify-content-center mt-4 fs-5 fw-bold" v-if="get_current_group().manager_offer == null">
                <div class="col-auto text-center">
                    Waiting for the manager's offer.
                </div>
            </div>

            <div v-if="get_current_group().manager_offer != null">
                <div class="row justify-content-center fw-bold mt-4 fs-5">
                    <div class="col-auto text-center">
                        The manager offers you $<span v-html="get_current_group().manager_offer"></span> to work together.<br>
                        Make your decision below.
                    </div>
                </div>

                <div class="row justify-content-center fw-bold mt-4">
                    <div class="col-auto text-start">
                        <button type="button"
                                v-bind:class="tick_tock=='tick' ? 'btn btn-primary btn-lg' : 'btn btn btn-outline-primary btn-lg'"
                                v-on:click = "submit_worker_response_to_manager('accept')"
                                title="Work together."                       
                                v-bind:disabled="reconnecting || working">
                                                    
                            Work together and earn $[[get_current_group().manager_offer.toFixed(2)]].
                        </button>
            
                        OR

                        <button type="button"
                                v-bind:class="tick_tock=='tick' ? 'btn btn-primary btn-lg' : 'btn btn btn-outline-primary btn-lg'"
                                v-on:click = "submit_worker_response_to_manager('reject')"
                                title="Work together."                       
                                v-bind:disabled="reconnecting || working">
                                                    
                            Work separately and earn $[[get_my_profit_if_working_alone()]].
                        </button>
                    </div>
                </div>

                
            </div>
        </div>
        <div v-if="get_current_group().phase == 'Review'" class="fs-5 fw-bold">

            <div class="row justify-content-center mt-4">
                <div class="col-auto text-center">
                    <span v-if="get_current_group().manager_offer_accepted == 'accept'">
                        You have accepted the manager's offer to work together.
                    </span>
                    <span v-else>
                        You have rejected the manager's offer and will work separately.
                    </span>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-auto text-center">
                    Your profit, if this period is chosen payment, is [[get_my_final_profit_string()]].
                </div>
            </div>

            <div class="row justify-content-center fw-bold mt-4">
                <div class="col-auto text-center">
                    <div v-if="show_ready_to_go_on_button()">
                        <button type="button"
                                v-bind:class="tick_tock=='tick' ? 'btn btn-success btn-lg' : 'btn btn btn-outline-success btn-lg'"
                                v-on:click = "ready_to_go_on()"
                                title="Ready to go on."                       
                                v-bind:disabled="reconnecting || working">
                                                    
                            Ready to go on
                        </button>
                    </div>
                    <div v-else>
                        Waiting for others.
                    </div>
                </div>
            </div>
            
        </div>
    </div>                    
</div> 